grant {
	permission java.security.AllPermission;
};

grant codeBase "file:///C:/devenv/servers/jboss-4.2.0/server/default/deploy/MRS.ear/*.jar"
{
	permission java.security.AllPermission;
};


grant codeBase "file:///C:/devenv/servers/jboss-4.2.0/server/default/deploy/MRS.ear/MRSESB.war/WEB-INF/lib/*.jar"
{
	permission java.security.AllPermission;
};
